
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-10">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de usuarios
    </div>
    <div class="card-body">
       <div class="row">
           <div class="col-12">
               <button type="button" class="btn btn-success">Crear nuevo</button>
           </div>
       </div>
        <hr />

        <table id="tabla" class="display-1 cell-border" style="width: 100%" >

        </table>
    </div>
</div>

