
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-10">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de usuarios
    </div>
    <div class="card-body">
       <div class="row">
           <div class="col-12">
               <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nuevo</button>
           </div>
       </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="formModalLabel">Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="text" disabled value="0" />

                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="name" class="form-label">Nombres</label>
                        <input type="text" name="txtname" class="form-control" id="txtname" placeholder="Nombres">
                    </div>
                    <div class="col-sm-6">
                        <label for="lastname" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtlastname" placeholder="Apellidos">      
             
                    </div>
                    <div class="col-sm-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="txtemail" placeholder="name@example.com">
                    </div>
                    <div class="col-sm-6">
                        <label for="active" class="form-label">Activo</label>
                        <select id="cboactive" class="form-select" >
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{    
    <script>

        var tablaData;
        var rowSelected;

       tablaData = $("#tabla").DataTable({
           responsive: true,
           ordering: false,
           "ajax": {
              /* Aqui lo que hace ajax es traer los valores*/
               url: '@Url.Action("ListarUsuarios", "Home")',
               type: "GET",
               dataType: "json",
           },
           "columns": [
               { "data": "Nombres" },
               { "data": "Apellidos" },
               { "data": "Correo" },
               {
                   "data": "Activo", "render": function (value) {
                       if (value) {
                           return '<span class="badge text-bg-success">Si</span>'
                       } else {
                           return '<span class="badge text-bg-danger">No</span>'
                       }
                   }
               },
               {
                   "defaultContent": ' <button type="button" class="btn btn-primary btn-sm btn-edit"> <i class="fas fa-pen"></i></button>' +
                       ' <button type="button" class="btn btn-danger btn-sm ms-2"> <i class="fas fa-trash"></i></button>',
                   "orderable": false,
                   "searchable": false,
                   "witdh": "90px"

               }
           ],
           "language": {
               "url": "https://cdn.datatables.net/plug-ins/2.1.3/i18n/es-ES.json"
           }
       });

        function abrirModal(json) {
            /* Esto se hace para que al abrir el modal de Crear Usuario se limpien los datos */
            $("#txtid").val(0);
            $("#txtname").val("");
            $("#txtlastname").val("");
            $("#txtemail").val("");
            $("#cboactive").val(1);
            $("#mensajeError").hide();

            if (json != null) {
                $("#txtid").val(json.IdUsuario);
                $("#txtname").val(json.Nombres);
                $("#txtlastname").val(json.Apellidos);
                $("#txtemail").val(json.Correo);
                $("#cboactive").val(json.Activo == true ? 1: 0);
            }

            $("#formModal").modal("show");
        }

        /* Con estas instrucciones se hace un llamado especifico solo a  la fila donde esta el boton de editar*/
        $("#tabla tbody").on("click", '.btn-edit', function () {
            /* Con el this, hago referencia a la misma tabla */
            rowSelected = $(this).closest("tr");

            /* Devuelve la información que hay en una fila de la tabla.
            Por ejemplo, si le doy click al icono de editar 1, entonces esos datos se van a mostrar
            */
            var data = tablaData.row(rowSelected).data();
            console.log(data)
            abrirModal(data);
        })

        function Guardar() {

            var Usuario = {
                IdUsuario: $("#txtid").val(),
                Activo: $("#cboactive").val() == 1 ? true: false,
                Apellidos: $("#txtlastname").val(),
                Correo: $("#txtemail").val(),
                Nombres: $("#txtname").val()
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Home")',
                type: "POST",
                data: JSON.stringify({ objeto : Usuario}), // Se usa el stringify para convertirlo a texto
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide")
                    // USUARIO NUEVO
                    if (Usuario.IdUsuario == 0) {

                        if (data.resultado != 0) {
                            Usuario.IdUsuario = data.resultado; // Actualizamos el id del usuario que tenia un 0, por ser nuevo usuario
                            tablaData.row.add(Usuario).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    } else {
                        // USUARIO EDITAR
                        if (data.resultado) { // Editar ya devuelve un bool por eso hacemos de esta forma
                            tablaData.row(rowSelected).data(Usuario).draw(false);
                            rowSelected = null;
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide")
                    $("#mensajeError").text("Error ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando",
                        size: 14
                    });
                }
            })
        }

    </script>
}

