
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!-- Detalle Producto -->
                        <div class="col-sm-9">
                            
                        </div>
                        <!-- Detalle Envio -->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envio</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="cboprovincia" class="form-label">Provincia:</label>
                                            <select class="form-select form-select-sm" id="cboprovincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbocanton" class="form-label">Canton:</label>
                                            <select class="form-select form-select-sm" id="cbocanton"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbodistrito" class="form-label">Canton:</label>
                                            <select class="form-select form-select-sm" id="cbodistrit"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtnombrecontacto" class="form-label">Nombre Contacto:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtnombrecontacto">
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtdireccion" class="form-label">Dirección:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtdireccion">
                                        </div>
                                        <div class="mb-2">
                                            <label for="txttelefono" class="form-label">Teléfono:</label>
                                            <input type="text" class="form-control form-control-sm" id="txttelefono">
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Terminar y procesar pago
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
 $(document).ready(function(){
    ListarProvincia()
   })

    function ListarProvincia(){
             //$("<option>").attr({"value":item.IdProvincia}).text(item.descripcion).appendTo("#cboprovincia") // CORREGIR
         jQuery.ajax({
            url: '@Url.Action("ObtenerProvincia","Tienda")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset-utf-8",
            success: function(data){
                if (data.lista != null) {
                    $.each(data.lista, function (i, item) {
                        $("<option>").attr({"value":item.IdProvincia}).text(item.Descripcion).appendTo("#cboprovincia")
                    })
                }
                
            }
         })
    }

    </script>
}

